.header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 20px 150px;
    justify-content: space-between;
    background-color: #0788d6;
    border-radius: 0 0 20px 20px;
    color: white;
}
.header__menu {
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url('../../img/acc.png');
    background-size: cover;
}
.header__menu:hover {
    cursor: pointer;
}
.header__menu-content {
    position: absolute;
    top: 150%;
    right: -150%;
    background-color: rgb(201, 196, 196);
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
.hidden {
    display: none;
}
.account__button {
    border: none;
    color: #fff;
    background-color: #0788d6;
    padding: 5px 10px;
    border-radius: 4px;
}
.account__button:hover {
    background-color: #429dd5;
    transition: 0.2s ease-in;
}