.resetPassword {
    width: 500px;
    margin: 200px auto;
    border: 3px solid #0788d6;
    border-radius: 25px;
    padding: 20px;
}
.heading {
    text-align: center;
}
.reset-password-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 15px;
}
#reset-password-input {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
#reset-password-button {
    width: 40%;
    margin: 0 auto;
    background-color: #0788d6;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
}
#reset-password-button:hover {
    background-color: #429dd5;
    transition: 0.2s ease-in;
}
